{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
  <h1>Ajout d'un produit</h1>
  Produit ajouté avec succé...!
  Nom du produit : {{ prod.name }}<br>
  Prix du produit : {{ prod.prix }}<br>
{% endblock %}
