{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
  <h1>Ajout d'un produit</h1>
 <p>Dans les données du produit il y a des erreurs</p>
 <h2>Liste des erreurs</h2>
 <ol>
 {% for er in errors %}
   <li>{{er.message}}</li>
 {% endfor %}
  </ol>
{% endblock %}

